button {
    font-size: 100px;
}
#right {
    float: right;
}

#rightText {
    color: red;
    text-align: center;
}



/*Login Page*/
#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    display: flex;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    background-color: red;
    border: darkred 2px solid;
}

.input-box {
    display:block;
    margin: 5% auto;
    height: 20px;
    width: 250px;
}

#message {
    text-align: center;
    border: 5px darkgreen ridge;
    width: fit-content;
    margin: 25px auto;
    background-color: green;
    padding: 5px;
}

#login-page {
    background-image: url(images/login-background.jpg);
}



/* Hover Page*/
.container {
    display: flex;
    justify-content: center;
}

#hover {
    font-weight: bold;
    color:blue;
    font-size: 60px;
}

footer {
    display: flex;
    justify-content: center;
}
#form {
    display: flex;
    text-align: center;
}

#user-button {
    display: flex;
    text-align: center;
}

.input-box {
    display: block;
    margin: 0 auto;
    position: relative;
    margin: 20% 30px;
}
