button {
    font-size: 100px;
}
#right {
    float: right;
}

#rightText {
    color: red;
    text-align: center;
}

<<<<<<< HEAD
#form {
    display: flex;
    text-align: center;
}

#user-button {
    display: flex;
    text-align: center;
}

.input-box {
    display: block;
    margin: 0 auto;
    position: relative;
    margin: 20% 30px;
}
=======
/* Hover Page*/
.container {
    display: flex;
    justify-content: center;
}

#hover {
    font-weight: bold;
    color:blue;
    font-size: 60px;
}

footer {
    display: flex;
    justify-content: center;
}
>>>>>>> 6a276ef95c28b44b70fe5a1b27c490abad0c0817
